
<html>

<body>

   <p class="a">

     This is our Back Channel App!

     <table style="text-align: left" >
      <tr>
       <td> Name </td>
       <td> Email ID </td>
        <br> <br>
      </tr>

       <tr>

         <td> Aalhad Kulkarni </td>
         <td> apkulkar@ncsu.edu </td>
       </tr>

       <tr>
         <td> Meghan Gupte </td>
         <td> mgupte@ncsu.edu </td>
       </tr>

       <tr>
         <td> Prathamesh Kadam </td>
         <td> pkadam@ncsu.edu </td>
       </tr>

     </table>

   </p>




</body>



</html>
